@font-face {
    font-family: "Tahoma";
    src: url("/webfonts/Tahoma Regular font.ttf");
}

@font-face {
    font-family: "VCR";
    src: url("/webfonts/VCR_OSD_MONO_1.001.ttf");
}

@font-face {
    font-family: "MS Sans Serif";
    src: url("/webfonts/micross.ttf");
}

@font-face {
    font-family: "Streamster";
    src: url("/webfonts/Streamster.ttf");
}

.background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-attachment: fixed;
    z-index: -1;
    object-fit: contain;
    width: 100%;
    height: auto;
}



h1 {
    text-shadow: -.0625rem -.0625rem 0 #6BFFFF, .0625rem .0625rem 0 #FF819E;
    color: white;
    text-align: center;
    font-family: "VCR", sans-serif;
    font-size: 100px;
}

h2 {
    text-shadow: -.0625rem -.0625rem 0 #6BFFFF, .0625rem .0625rem 0 #FF819E;
    color: white;
    text-align: center;
    transform: rotate(-4deg);
    position: relative;
    bottom: 100px;
    font-size: 100px;
    font-family: "VCR", sans-serif;
}

h3 {
    text-shadow: -.0625rem -.0625rem 0 #6BFFFF, .0625rem .0625rem 0 #FF819E;
    color: white;
    text-align: center;
    position: relative;
    font-size: 40px;
    font-family: "VCR", sans-serif;
}


nav {
    text-align: center;
    font-family: "MS Sans Serif", sans-serif;
    font-size: 200%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li a {
    color: black;

}


div.title{
    height:18px;
    width:100%;
    background:#000080;
    color:#FFF;
}

p.title {
    margin: 2px 0 0 1px;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: 11px;
    float: left;
}

div.body{
    padding:13px 12px 12px;
    height:100%;
    width:calc(100% - 26px);
    display:inline-block;
}

div.body p{
    font-family:"MS Sans Serif", sans-serif;
    font-size:11px;
}

.title button{
    /*position:absolute;
    right:3px;*/
    top:3px;
    margin:2px 2px 2px 0;
    float:right;
    width:14px;
    height:14px;
    background:#C0C0C0;
    border-width:1px;
    border-color:#FFFFFF #808080 #808080 #FFFFFF;
    padding:0;
    font-size:9px;
    font-weight:bold;
    font-family:Tahoma, sans-serif;
    text-align:center;
}

button:focus{
    outline:none;
}

div.body button{
    font-family:"MS Sans Serif", sans-serif;
    font-size:11px;
    outline:1px solid #000000;
    background:#C0C0C0;
    border-width:1px;
    border-style:solid;
    border-color:#FFFFFF #808080 #808080 #FFFFFF;
    padding:4px 10px;
    margin:20px auto 3px;
    display:block;
    position:relative;
    bottom:0;

}

.nav {
    display: flex;
    justify-content: flex-start; /* Center horizontally */
    /* Center vertically */
   /* Adjust the height based on your requirements */
}

.box {
    width: 350px;
    background: #C0C0C0;
    border: 1px solid;
    border-color: #FFFFFF #808080 #808080 #FFFFFF;
    padding: 1px;
}

.indexnav {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;/* Center vertically */
    border-color: #FFFFFF #808080 #808080 #FFFFFF;
    margin-top: 200px;
}

.indexbox {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;/* Center vertically */
    border-color: #FFFFFF #808080 #808080 #FFFFFF;
}