@font-face {
    font-family: "Tahoma";
    src: url("../webfonts/TahomaRegularfont.ttf"); /* Importe la police Tahoma */
}

@font-face {
    font-family: "VCR";
    src: url("../webfonts/VCR_OSD_MONO_1.001.ttf"); /* Importe la police VCR */
}

@font-face {
    font-family: "MS Sans Serif";
    src: url("../webfonts/micross.ttf"); /* Importe la police MS Sans Serif */
}

.background {
    position: fixed; /* Le fond ne bouge pas en scrollant */
    top: 50%; /* coin supérieur gauche centré verticalement */
    left: 50%; /* coin supérieur gauche centré horizontalement */
    transform: translate(-50%, -50%); /* Deplace le fond pour le centrer completement */
    z-index: -1; /* Met la video au fond */
    width: 100%; /* taille de la page */
}

h1 {
    text-shadow: -.0625rem -.0625rem 0 #6BFFFF, .0625rem .0625rem 0 #FF819E; /* cree un effet 3d stereoscopique avec les ombres */
    color: white; /* met h1 en blanc */
    text-align: center; /* centre h1 */
    font-family: "VCR", sans-serif; /* met la police VCR sur h1 */
    font-size: 100px; /* defini la taille de h1 */
}

h2 {
    text-shadow: -.0625rem -.0625rem 0 #6BFFFF, .0625rem .0625rem 0 #FF819E; /* cree un effet 3d stereoscopique avec les ombres */
    color: white; /* met h2 en blanc */
    text-align: center; /* centre h2 */
    transform: rotate(-4deg); /* pivote h2 de 4° dans le sens anti-horaire */
    position: relative; /* positionnement relatif pour changer la position verticale */
    bottom: 100px; /* deplace h2 de 100px vers le bas */
    font-size: 100px; /* defini la taille de h2 */
    font-family: "VCR", sans-serif; /* met la police VCR sur h2 */
}

nav {
    text-align: center; /* centre le texte horizontalement */
    font-family: "VCR", sans-serif; /* met la police VCR sur les elements du nav */
    font-size: 200%; /* double la taille de la police */
}

nav ul {
    list-style-type: none; /* enleve les puces des listes */
    padding: 0; /* enleve l'espace avant les elements des listes */
    margin: 0; /* enleve l'espace entre les elements des listes */
}

a {
    color: darkblue; /* met les liens en bleu foncé */
}

div.title {
    height: 18px; /* defini la taille de barre bleue des fenetres */
    background: #000080; /* couleur de fond */
    color: #FFF; /* texte blanc */
}

p.title {
    margin: 2px 0 0 1px; /* ajoute une marge pour que le texte ne depasse pas de la barre bleue*/
    font-family: Tahoma, sans-serif; /* police tahoma sur le titre de la fenetre */
    font-weight: bold; /* texte en gras */
    font-size: 11px; /* taille du texte */
    float: left; /* defini le titre comme flottant pour le mettre sur la meme ligne que les boutons */
}

div.body {
    padding: 13px 12px 12px; /* ajoute un padding dans en haut, a droite et gauche et en bas */
    width: calc(100% - 26px); /* taille de la fenetre = taille de base - 26px*/
    color: black; /* couleur du texte */
}

div.body p {
    font-family: "MS Sans Serif", sans-serif; /* police du texte */
    font-size: 11px; /* taille du texte */
}

.title button {

    top: 3px; /* deplace les boutons de 3px en haut */
    margin: 2px 2px 2px 0; /* ajoute une marge en haut, a droite, en bas et la supprime a gauche*/
    float: right; /* defini les boutons comme flottant pour les mettres sur la meme ligne que le titre */
    width: 14px; /* 14px de coté */
    height: 14px; /* 14px de coté */
    background: #C0C0C0; /* boutons gris */
    border-width: 1px; /* petite bordure */
    border-color: #FFFFFF #808080 #808080 #FFFFFF; /* bordure blanche et grise */
    padding: 0; /* pas de padding */
    font-size: 9px; /* taille des caracteres */
    font-weight: bold; /* caracteres en gras*/
    font-family: Tahoma, sans-serif; /* police tahoma*/
    text-align: center; /* caracteres centré*/
}


.nav {
    display: flex; /* defini les nav comme etant des flexbox */
    align-items: flex-start;
}

.box {
    width: 350px; /* taille des fenetres */
    background: #C0C0C0; /* couleur de fond*/
    border: 1px solid; /* bordure */
    border-color: #FFFFFF #808080 #808080 #FFFFFF; /* couleur des bordures */
    padding: 1px; /* ajoute un petit padding*/
}

.indexnav {
    display: flex; /* defini le nav de la page index comme etant un flexbox */
    justify-content: center; /*centre horizontalement */
    align-items: center; /* centre verticalement */
    border-color: #FFFFFF #808080 #808080 #FFFFFF; /* bordure */
    margin-top: 200px; /* decale la fenetre de 200px en bas*/
}

.indexbox {
    display: flex; /* defini la fenetre texte de la page index comme etant un flexbox */
    justify-content: center; /*centre horizontalement */
    align-items: center; /* centre verticalement */
    border-color: #FFFFFF #808080 #808080 #FFFFFF; /* bordure */
}

.passionsintro {
    display: flex; /*utilise un flexbox*/
    justify-content: center; /*centre horizontalement */
}

.aboutbox, .aboutmap, .aboutimage, .aboutvideo, .passionsmetal1, .passionsmetal2, .passionsmetal3, .passionsmetal4, .passionsguitar1, .passionsguitar2, .passionsguitar3, .passionsguitar4, .passionsvg1, .passionsvg2, .passionsvg3 {
    display: flex; /*utilise un flexbox*/
    flex-grow: 2; /* les elements prennent plus d'espace dans le container */
    flex-wrap: nowrap; /* ne saute pas de 'ligne'*/
}

.passionsmetal {
    display: flex;/*utilise un flexbox*/
    justify-content: flex-start;/* ligne centree verticalement */
    align-items: center;/* ligne centree verticalement */
    margin-left: 5%;
    margin-bottom: 80px;/* 80px de vide entre les containers */
}

.passionsvg, .passionsguitar {
    display: flex;/*utilise un flexbox*/
    justify-content: flex-start;/* ligne centree verticalement */
    align-items: center;/* ligne centree verticalement */
    margin-left: 10%; /* 10% de vide entre les elements */
    margin-bottom: 80px;/* 80px de vide entre les containers */
}


.aboutrow1 {
    display: flex;/*utilise un flexbox*/
    justify-content: center;/* ligne centree horizontalement */
    align-items: center;/* ligne centree verticalement */
    margin-left: calc(50% - 175px); /* espace = 50% de la fenetre - 175px */
    margin-bottom: 80px;/* 80px de vide entre les containers */
}

.aboutrow2 {
    display: flex;/*utilise un flexbox*/
    justify-content: space-between; /* repartit les elements dans le container */
    align-items: center; /* ligne centree verticalement */
    margin-bottom: 80px;/* 80px de vide entre les containers */
    margin-left: 50px; /* 50px de vide entre les elements */
}

.cvcol {
    display: flex;/*utilise un flexbox*/
    flex-direction: column;/* les elements sont disposés en colonne*/
    align-items: center; /* colonne centree verticalement */
}

.cvintro, .cv {
    display: flex;/*utilise un flexbox*/
    flex-grow: 2;/* les elements prennent plus d'espace dans le container */
    flex-wrap: nowrap;/* ne saute pas de 'ligne'*/
    margin-bottom: 80px; /* 80px de vide entre les elements */
}