@font-face {
    font-family: "Ubuntu Mono";
    src: url("/webfonts/UbuntuMono-Regular.ttf");
}

body {
    font-family: 'Ubuntu Mono', serif;
    font-size: 13px;
    text-shadow: 4px 4px 4px #F94C10;
    background-color: #F94C10;

}

h1 {
    font-size: 70px;
    color: #F8DE22;
    background-color: #C70039;
    text-align: center;
}

hr {

    height: 10px;
    background-color: #C70039;
    border: none;
}

#menu {
    list-style-type: none;
}

